<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://danielisawesome.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>danielisawesome.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DanielisAwesome</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DanielisAwesome</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:dweets.database.windows.net,1433;Initial Catalog=DanielisAwesome734;User ID=dpollock@dweets;Password=oldPURSE9856!!" Name="Data Source=tcp:dweets.database.windows.net,1433;Initial Catalog=DanielisAwesome734;User Id=dpollock@dweets;Password=oldPURSE9856!!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AngularTest.Models.ApplicationDbContext, AngularTest" MigrationConfiguration="AngularTest.Migrations.Configuration, AngularTest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dweets.database.windows.net,1433;Initial Catalog=DanielisAwesome734;User Id=dpollock@dweets;Password=oldPURSE9856!!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>